<%- include('partials/header.ejs') %>
<body>

<h1>Movie snacks</h1>
<a href = "/login">Click here to log in</a>

<h1>Menu</h1>
<p>Here's a list of food:</p>
<p>Popcorn</p>
<p>Candy</p>
<p>Soda</p>
<p>Hot Dogs</p>
<p>Specialty tie-in food</p>

</body>
</html>