#login {

}

body {
    background: cornflowerblue;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#invalidLogin {
    text-align: center;
}

#description {
    text-align: center;
}

#welcomePage {
    text-align:center;
}